
{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title display-3 text-center text-uppercase text-primary">User Profile</h2>

                        <div class="display-5 text-center text-success text-primary">
                            <h4>{{ user.username }}'s Posts:</h4>
                        </div>

                        <hr>

                        <h5 class="card-subtitle mb-3 display-3 text-center text-uppercase text-primary">Posts Made</h5>
                        <ul class="list-group display-3 text-center text-uppercase text-primary">
                            {% for post in user.posts %}
                                <li class="list-group-item text-center"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
        /* Add custom styles here */
        .container, .row, .col-md-8 {
            height: 100%;
            width: 100%;
        }
</style>
{% endfor %}
{% endblock %}